body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: white;
    
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #e9f5fb;
  }

  .remarks {
    font-style: italic;
    color: #666;
  }
  a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
  }



  .img_center{ 
    text-align: center;
  }
  .para_padding{
    padding:50px ;
      
      width: 70%;
      background-color: powderblue;
      margin: 0 auto;
      border-radius: 20px;
      margin-top: 15px;  
  }
  
  body{
    background-color: green;
  }
  .img_center2{ 
    text-align: center;
    margin-top: 30px;
    
  }
  .img_center2 img{
    border-radius: 30px;
  }
  .bold-text {
    font-weight: bold;
}

.heading-shadow{
 text-shadow: 2px 2px 4px red;
}
 .book-cover-shadow{
  box-shadow: 0 4px 8px yellow, 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
 }

 .whatsapp {
  --s: 0.1em;   /* the thickness of the line */
  --c: #2c4bff; /* the color */
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.whatsapp:hover {--_p: 100%}
.para_font{
  font-family: 'Times New Roman', Times, serif;

  font-size: 18px;
}